.stage {
  position: relative;
  flex: 1;
  min-width: 250px;
  padding: 20px;
}

.canvas_wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}
