.stage {
  position: relative;
  flex: 1;
  min-width: 250px;
  padding-bottom: 150px;
  background-color: #f6f7f9;
  user-select: none;
}

.canvas_wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
  overflow: hidden;
}

.crop_wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
