.stage {
  position: relative;
  flex: 1;
  min-width: 250px;
  padding-bottom: 150px;
  background-color: #f6f7f9;
  user-select: none;
}

.canvas_wrapper {
  position: relative;
  height: 100%;
}

.canvas_inner_wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow: auto;
  overscroll-behavior: contain;
  cursor: grab;

  > section {
    flex: none;
    margin: auto;
    cursor: default;
  }
}

.crop_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
