.scenes {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.08), 0 4px 12px 0 rgba(0, 0, 0, 0.04);
}

.scenes_wrapper {
  height: 100%;
  padding: 0 20px;
}

.scene {
  flex: none;
  transform-origin: top left;
}
