.icon_item {
  font-size: 22px;
}

.text_family_with_size {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;

  .font_family_select {
    width: 180px;
  }
}

.text_style_active {
  font-weight: bold;
}

.text_color_picker {
  width: 100%;
  height: 24px;
  border: 0;

  :global {
    .ant-color-picker-color-block {
      width: 100%;
    }
  }
}
